<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Inicio
            </a>
        <!--
            <a mat-list-item routerLink="/cadastro">
                <i class="material-icons">
                    person
                </i>
                Agendamento
            </a>
        -->
            <a mat-list-item routerLink="/person">
                <i class="material-icons">
                    search
                </i>
                Agenda
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>